* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

header {
    background-color: #1168fd;
    padding: 15px;
    color: white;
    margin-bottom: 80px;
}

header > h1 {
    font-size: 7vh;
}

nav {
    display: flex;
}

nav > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
}

nav > ul > li > a {
    color: white;
    text-decoration: none;
}

nav > ul > li > a:hover {
    color: #d9d9d9;
    text-decoration: underline;
}

main {
    margin: 10px;
}

main > div#container-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 800px;
    gap: 40px;
    margin: 0 auto;
}

main > div#container-flex > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 1 200px;
    background-color: #daf4f9;
    padding: 15px;
    border-radius: 15px;
}