* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

header {
    background-color: #1168fd;
    padding: 15px;
    color: white;
    margin-bottom: 100px;
}

nav {
    display: flex;
}

nav > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
}

nav > ul > li > a {
    color: white;
    text-decoration: none;
}

nav > ul > li > a:hover {
    color: #d9d9d9;
    text-decoration: underline;
}

main {
    margin: 15px;
}

main > section#faq-ajuda > details {
    padding: 10px;
    background-color: #daf4f9;
    border-radius: 15px;
    margin: 20px;
    transition: .5s;
}

main > section#faq-ajuda > details[open] {
    padding: 10px;
    background-color: #93edff;
    border-radius: 15px;
    margin: 20px;
    transition: .5s;
}