* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

header {
    background-color: #1168fd;
    padding: 15px;
    color: white;
    margin-bottom: 50px;
}

nav {
    display: flex;
}

nav > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
}

nav > ul > li > a {
    color: white;
    text-decoration: none;
}

nav > ul > li > a:hover {
    color: #d9d9d9;
    text-decoration: underline;
}

main {
    margin-left: 10px;
}

main > div#flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main > div#flex-container > div#text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

span {
    color: #1168fd;
}

main > div#flex-container2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
    margin-bottom: 50px;
}

main > div#flex-container2 > p > a {
    color: black;
    text-decoration: none;
    border: 1.5px solid black;
    padding: 15px;
    border-radius: 15px;
    background-color: #d2d2d2;
    transition: .5s;
}

main > div#flex-container2 > p > a:hover {
    color: #ffffff;
    background-color: #1168fd;
    transition: .5s;
}