* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

header {
    background-color: #1168fd;
    padding: 15px;
    color: white;
    margin-bottom: 50px;
}

nav {
    display: flex;
}

nav > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
}

nav > ul > li > a {
    color: white;
    text-decoration: none;
}

nav > ul > li > a:hover {
    color: #d9d9d9;
    text-decoration: underline;
}

main {
    margin-left: 10px;
}

main > div#flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main > div#flex-container > div#text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}