* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

header {
    background-color: #1168fd;
    padding: 15px;
    color: white;
    margin-bottom: 100px;
}

nav {
    display: flex;
}

nav > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
}

nav > ul > li > a {
    color: white;
    text-decoration: none;
}

nav > ul > li > a:hover {
    color: #d9d9d9;
    text-decoration: underline;
}

main {
    margin: 15px;
}

main > div#container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

h2 {
    text-align: center;
}

main > div#container-flex > a > div {
    background-color: #3780fc;
    color: white;
    width: 200px;
    height: 160px;
    text-align: center;
    border-radius: 15px;
    transition: .5s;
    border: 1.6px solid black;
}

main > div#container-flex > a {
    text-decoration: none;
}

main > div#container-flex > a:hover > div {
    background-color: #1a6bf6;
    transition: .5s;
}

main > div#container-flex > a > div > p.para-apoiador {
    color: black;
    background-color: #ffce2d;
    width: 120px;
    padding: 5px;
    margin-left: 0;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
}

footer {
    margin-top: 400px;
    height: 100%;
    background-color: #cbcaca;
    padding: 15px;
    color: white;
    border-top: 2px solid #1168fd;
}

footer > div#container {
    display: flex;
    flex-wrap: wrap;
}