* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

header {
    background-color: rgb(17, 104, 253);
    padding: 15px;
    color: white;
}

nav {
    display: flex;
}

nav > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
}

nav > ul > li > a {
    margin: 0;
    color: white;
    text-decoration: none;
}

nav > ul > li > a:hover {
    color: #d9d9d9;
    text-decoration: underline;
}

main {
    margin: 15px;
    text-align: center;
}