* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

header {
    background-color: #1168fd;
    padding: 15px;
    color: white;
}

nav {
    display: flex;
}

nav > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
}

nav > ul > li > a {
    color: white;
    text-decoration: none;
}

nav > ul > li > a:hover {
    color: #d9d9d9;
    text-decoration: underline;
}

main {
    align-items: center;
    margin: 10px;
}

main > div#container-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > div#container-flex > input#verificar {
    height: 50px;
    width: 100px;
    background-color: #1168fd;
    color: #b3b3b3;
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    transition: .5s;
}

main > div#container-flex > input#verificar:hover {
    height: 50px;
    width: 100px;
    color: white;
    background-color: #337eff;
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    transition: .5s;
    
}

main > p > a {
    color: black;
    text-decoration: none;
}

main > p > a:hover {
    color: black;
    text-decoration: underline;
}

