* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

header {
    background-color: #1168fd;
    padding: 15px;
    color: white;
    margin-bottom: 100px;
}

nav {
    display: flex;
}

nav > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
}

nav > ul > li > a {
    color: white;
    text-decoration: none;
}

nav > ul > li > a:hover {
    color: #d9d9d9;
    text-decoration: underline;
}

main {
    margin: 15px;
}

span {
    color: #1168fd;
}

h2 {
    font-size: 6vh;
}

main > div#container-flex1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

main > div#container-flex1 > div#container-flex2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 10px;
}


main > div#container-flex1 > div#container-flex2 > p > a {
    border: 1px solid black;
    padding: 15px;
    border-radius: 15px;
    text-decoration: none;
    color: #000000;
    transition: .5s;
}

main > div#container-flex1 > div#container-flex2 > p > a:hover {
    border: 1px solid black;
    padding: 15px;
    border-radius: 15px;
    text-decoration: none;
    color: #ffffff;
    background-color: #1168fd;
    box-shadow: 0.5px 1px 7px black;
    transition: .5s;
}


main > ol {
    text-align: center;
    list-style-position: inside;
}

main > ol > li {
    margin-top: 20px;
}

main > h2#titulo-apoios {
    margin-top: 50px;
    text-align: center;
}

footer {
    margin-top: 100px;
    height: 100%;
    background-color: #d9d9d9;
    padding: 15px;
    color: white;
}

footer > div#container {
    display: flex;
    flex-wrap: wrap;
}