
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

header {
    background-color: #1168fd;
    padding: 15px;
    color: white;
    margin-bottom: 100px;
}

header > h1 {
    font-size: 4.3vh;
}

nav {
    display: flex;
}

nav > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
}

nav > ul > li > a {
    color: white;
    text-decoration: none;
}

nav > ul > li > a:hover {
    color: #d9d9d9;
    text-decoration: underline;
}

main {
    margin: 10px;
}

main > table {
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse; 
    text-align: center;
}

main > table > thead > tr > th {
    border: 1px solid black;
    padding: 25px;
}

main > table > tbody > tr > td {
    border: 1px solid black;
    padding: 15px;
}

main > table > tbody > tr > td > p > a {
    text-decoration: none;
}

main > table > tbody > tr > td > p > a > i {
    padding: 1px;
}

footer {
    margin-top: 300px;
    height: 100%;
    background-color: #d9d9d9;
    padding: 15px;
    color: white;
}

footer > div#container {
    display: flex;
    flex-wrap: wrap;
}