
* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: #1168fd;
    padding: 15px;
    color: white;
}

header > h1 {
    font-size: 7vh;
}

header > h1 > span {
    color: #00ddff;
}

header > p#comecar {
    margin-top: 40px;
    margin-left: 50px;
    font-size: 3.7vh;
}

header > p#comecar > a {
    border: 1px solid white;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    transition: .6s;
}

header > p#comecar > a:hover {
    background-color: white;
    color: #1168fd;
    transition: .6s;
}

nav {
    display: flex;
}

nav > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
}

nav > ul > li > a {
    color: white;
    text-decoration: none;
}

nav > ul > li > a:hover {
    color: #d9d9d9;
    text-decoration: underline;
}

main {
    margin: 15px;
}

main > div#container-flex > div#text > h1 > strong {
    color: #1168fd;
}

main > p {
    padding: 10px;
}

main > div#container-flex { 
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
}

main > div#container-flex > div#text { 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

main > div#container-flex > div > img { 
    height: 100%;
    max-width: 100%;
}

main > div#container-flex > div#text > p > a {
    font-size: 25px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 18px;
    background-color: #1168fd;
    color: white;
    text-decoration: none;
    transition: .5s;
}

main > div#container-flex > div#text > p > a:hover {
    background-color: #004bcd;
    color: white;
    transition: .5s;
}

main > div#container-flex2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

main > div#container-flex2 > div#text-apoie > p > a#inverso {
    font-size: 25px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 18px;
    background-color: white;
    color: black;
    text-decoration: none;
    transition: .5s;
}

main > div#container-flex2 > div#text-apoie > p {
    margin-bottom: 50px;
}

main > div#container-flex2 > div#text-apoie > h1 > strong {
    color: #004bcd;
}

main > div#container-flex2 > div#text-apoie > p > a#inverso:hover {
    background-color: #1168fd;
    color: white;
    transition: .5s;
}

footer {
    margin: 0;
    height: 100%;
    background-color: #cbcacc;
    padding: 15px;
    color: white;
}

footer > div#container {
    display: flex;
    flex-wrap: wrap;
}