* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

header {
    background-color: rgb(17, 104, 253);
    padding: 15px;
    color: white;
}

nav {
    display: flex;
}

nav > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
}

nav > ul > li > a {
    color: white;
    text-decoration: none;
}

nav > ul > li > a:hover {
    color: #d9d9d9;
    text-decoration: underline;
}

main {
    align-items: center;
    margin: 10px;
}

main > h2#primeiro-titulo {
    margin-top: 50px;
}

main > div#container-lista_ex {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

main > div#container-lista_ex > div.lista_ex {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 250px;
    height: 400px;
    flex-basis: auto;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px black;
    border-radius: 5px;
    transition: .4s;
}

main > div#container-lista_ex > div.lista_ex:hover {
    width: 280px;
    height: 400px;
    box-shadow: 2px 2px 6px black;
    transition: .4s;
}